In [2]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from colorama import Fore
from urllib.parse import urlparse

In [3]:
df = pd.read_csv('../dataset/malicious_phish.csv')
df.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [4]:
df.tail()

                                                  url      type
651186        xbox360.ign.com/objects/850/850402.html  phishing
651187   games.teamxbox.com/xbox-360/1860/Dead-Space/  phishing
651188     www.gamespot.com/xbox360/action/deadspace/  phishing
651189  en.wikipedia.org/wiki/Dead_Space_(video_game)  phishing
651190      www.angelfire.com/goth/devilmaycrytonite/  phishing

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651191 entries, 0 to 651190
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     651191 non-null  object
 1   type    651191 non-null  object
dtypes: object(2)
memory usage: 9.9+ MB

In [6]:
df.describe()

                                                      url    type
count                                              651191  651191
unique                                             641119       4
top     http://style.org.hc360.com/css/detail/mysite/s...  benign
freq                                                  180  428103